h1 {
  text-align: center;
}
table {
  margin: auto;
}
td.n {
  background-color: white;
  height: 1cm;
  width: 1cm;
}
td.b {
  background-color: black;
  height: 1cm;
  width: 1cm;
}
td {
  text-align: center;
}
