@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body{
    font-optical-sizing: auto;
    font-size: larger;
    font-weight: 700;
    background-color: #f4f4f4;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-right:  2px solid black;
}

.info {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-container {
    display: none;
}
#text-container {
    display: block;
}

.button {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: block;
    min-width: 100%;
    width: 100%  Updated width to 100% 
}

.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
    transition: background-color 0.5s ease;
    background-color: rgb(255, 202, 178);
    transform: translateY(-1px);
}

.button:active {
  background-color: #ff0000;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}